<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--bodyHeader -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" th:fragment="bodyHeader">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/}">GOGOtennis</a>
    <!-- <a class="navbar-brand" th:href="@{/}">
         <img src="img/logo2.png" alt="logo" width="100">
     </a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div class="gap-5 collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/matching/home}" th:text="#{menu.match}">매치</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/tournament}" th:text="#{menu.tournament}">대회</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/ranking/home}" th:text="#{menu.rank}">랭킹</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/boards/home}" th:text="#{menu.community}">커뮤니티</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/club}" th:text="#{menu.club}">동호회</a></li>
      </ul>

      <div class="gap-2 d-md-flex">
        <div th:if="${session.loginMember == null}">
          <button type="button" class="btn btn-outline-primary"
                  th:onclick="|location.href='@{/members/new}'|" th:text="#{member.join}">회원가입</button>
          <button type="button" class="btn btn-outline-primary"
                  th:onclick="|location.href='@{/login}'|" th:text="#{member.login}">로그인</button>
        </div>  <!-- TODO : 로그인 modal 창 구현 -->
        <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'GOGOTENNIS'} and ${session.loginMember.role.toString() == 'MEMBER'}">
          <button type="button" class="btn btn-outline-primary"
                  th:onclick="|location.href='@{/members/profile/{id} (id=${session.loginMember.id})}' |" ) th:text="#{member.profile}">내 정보</button>
          <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/logout}'|" th:text="#{member.logout}">로그아웃</button>

        </div>

        <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'GOGOTENNIS'} and ${session.loginMember.role.toString() == 'ADMIN'}">
          <button type="button" class="btn btn-outline-primary"
                  th:onclick="|location.href='@{/manager/profile}'|" th:text="#{admin.profile}">회원 정보</button>
          <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/logout}'|" th:text="#{member.logout}">로그아웃</button>

        </div>

        <!-- 카카오 로그아웃-->
        <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'KAKAO'}">
          <!-- TODO:내 정보 UI 구현-->
          <button type="button" class="btn btn-outline-primary"
                  th:onclick="|location.href='@{/members/profile/{id} (id=${session.loginMember.id})}' |" ) th:text="#{member.profile}">내 정보</button>
          <button type="button" class="btn btn-outline-primary"
          th:onclick="|location.href='@{https://kauth.kakao.com/oauth/logout?client_id=b70b62ddd16773ad4e495c5aa49dc006&logout_redirect_uri=http://gogotennis.co.kr/oauth/kakao/logout&response_type=code}'|"
          th:text="#{member.logout}">로그아웃</button>

        </div>

      </div> <!--gap-2 d-md-flex END-->

    </div>
  </div>
</nav>