<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>GOGOtennis</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/banner.css" rel="stylesheet"/>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <!--TimePicker-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <!--DateRangePicker-->
    <!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
    <!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>-->
    <!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>-->
    <!--    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />-->

    <link rel="stylesheet" href="/css/kakaoMapList.css">

    <!--swiper slider-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- TODO -->
    <link href="/css/dateCarousel.css" rel="stylesheet"/>
    <link href="/css/slider.css" rel="stylesheet"/>
</head>
<body class="pt-6">
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>
<!-- banner-->
<div class="board_banner_area">
    <div class="board_banner_text">
        <h1>Matching</h1>
        <p>Check out the Matching schedule!</p>
    </div>
    <img src="/images/matchingbanner1.jpeg" alt="Contact US 배너 이미지">
</div>


<div class="swiper mySwiper container mt-5" style="padding-right: 150px; padding-left: 150px">
    <div class="swiper-wrapper">
        <form class="swiper-slide" th:each="day : ${carouselDay}"
              th:action="@{/matching/matchingListUpdate/{date} (date=${day.key.toString()})}"
              th:id="'click-'+${day.key.toString()}" method="post">
            <button class="hidden_btn" th:utext="${#strings.substring(day.key, 8, 10)} + '<br>' + ${day.value}" th:value="${day.value}">
            </button>
        </form>
    </div>
    <!--    <div class="swiper-pagination"></div>-->
    <div class="swiper-button-prev" style="color: #3db370"></div>
    <div class="swiper-button-next" style="color: #3db370"></div>

</div>



<div class="col-12 p-4"></div>

<div class="container">
    <div class="matching-main"> <!-- Matching Main Start -->
        <div class="d-md-flex justify-content-between">         <!-- TODO 매치 목록 하위 조건 -->
            <form th:object="${searchCondition}" method="post" th:action="@{/matching/searchCondition}">
                <div class="justify-content-md-start">
                    <div class="container d-flex">
                        <input hidden th:field="*{date}" th:value="${currDate}">
                        <select class="form-select me-2" id="matching_place_selector" th:field="${searchCondition.matchingPlace}">
                            <option selected value="none">매치 장소</option>
                            <option th:each="matchingPlace : ${matchingPlaces}"
                                    th:text="${matchingPlace}"
                                    th:value="${matchingPlace}"></option>
                        </select>
                        <select class="form-select me-2" id="matching_type_selector" th:field="${searchCondition.matchType}">
                            <option selected value="none">단식/복식</option>
                            <option th:each="gameType : ${matchTypes}"
                                    th:text="${gameType.title}"
                                    th:value="${gameType}"></option>
                        </select>
                        <select class="form-select me-2" id="court_type_selector" th:field="${searchCondition.courtType}">
                            <option selected value="none">실내/실외</option>
                            <option th:each="courtType : ${courtTypes}"
                                    th:text="${courtType.title}"
                                    th:value="${courtType}"></option>
                        </select>
                        <button type="submit" class="btn btn-primary px-2 py-0">SEARCH</button>
                    </div>
                </div>
            </form>
            <div th:if="${session.loginMember != null}" class="justify-content-md-end">
                <a type="button" class="btn btn-primary px-4 py-3" id="match_modal_toggle"
                   data-bs-toggle="modal" data-bs-target="#matchAddModal">매치등록</a>
            </div>
        </div>
        <div class="my-4">
            <table class="table table-hover align-middle bg-white">
                <thead class="bg-light">
                <!--                <tr>-->
                <!--                    <th></th>-->
                <!--                    <th class="text-center">매치 날짜</th>-->
                <!--                    <th class="text-center">매치 시간</th>-->
                <!--                    <th class="text-center">매치 지역</th>-->
                <!--                    <th class="text-center">매치 이름</th>-->
                <!--                    <th class="text-center">코트 타입</th>-->
                <!--                    <th class="text-center">참여자</th>-->
                <!--                    <th class="text-center">생성자</th>-->
                <!--                    <th class="text-center">매치상태</th>-->
                <!--                </tr>-->
                </thead>
                <tbody>
                <tr th:each="mList:${matchingList}" id="matching_list" class="matching_list"
                    th:title="${mList.matchingType.title}" th:value="${mList.courtType.title}"
                    th:onclick="|location.href='@{/matching/detail/{id} (id=${mList.id})}'|" role="button">
                    <td></td>
                    <td class="p-0" style="width: 150px">
                        <!--                        <i class="bi bi-clock"></i>-->
                        <span class="fw-bold" th:text="${mList.matchingStartTime} + '~' + ${mList.matchingEndTime}"></span>
                    </td>
                    <td>
                        <p class="mb-0 mt-2">
                            <i class="bi bi-geo-alt-fill text-muted"></i>
                            <span class="fw-bold" th:text="${mList.place}"></span>
                        </p>
                        <p class="mb-2">
                            <span class="ms-4 me-2" th:text="${mList.courtType.title}"></span>
                            <!--                            <span th:if="${matching.matchingType.title.equals('단식')}">-->
                            <i class="bi bi-people-fill text-muted"></i>
                            <span th:text="${mList.playerNumber} + '/' + ${mList.matchingType.code}"></span>
                            </span>
                            <!--                            <span th:if="${matching.matchingType.title.equals('복식')}">-->
                            <!--                            <i class="bi bi-people-fill text-muted"></i>-->
                            <!--                            <span class="small" th:text="${matching.playerNumber} + '/' + ${matching.matchingType.code}"></span>-->
                            <!--                            </span>-->
                        </p>
                    </td>
                    <td>
                        <p class="mb-0 mt-2" th:text="${mList.title}"></p>
                        <span><img class="me-1" th:src="${mList.member.image}" style="width: 20px; height: 20px"><span th:text="${mList.author}" class="small"></span></span>
                    </td>
                    <!--                    <td class="py-5"></td>-->
                    <!--&lt;!&ndash;                    <td class="text-center"><span th:text="${matching.matchingDate}"></span></td>&ndash;&gt;-->
                    <!--                    <td class="text-center"><i class="bi bi-clock text-muted me-1"></i><span-->
                    <!--                        th:text="${matching.matchingStartTime} + '~' + ${matching.matchingEndTime}"></span></td>-->
                    <!--                    <td class="text-center"><i class="bi bi-geo-alt-fill text-muted me-1"></i><span-->
                    <!--                        th:text="${matching.place}"></span></td>-->
                    <!--                    <td class="text-center" th:text="${matching.title}"></td>-->
                    <!--                    <td class="text-center" th:text="${matching.courtType.title}"></td>-->
                    <!--                    <td class="text-center" th:if="${matching.matchingType.title.equals('단식')}"><i-->
                    <!--                        class="bi bi-people-fill text-muted me-1"></i>-->
                    <!--                        <span th:text="${matching.playerNumber} + '/' + ${matching.matchingType.code}"></span>-->
                    <!--                    </td>-->
                    <!--                    <td class="text-center" th:if="${matching.matchingType.title.equals('복식')}"><i-->
                    <!--                        class="bi bi-people-fill text-muted me-1"></i>-->
                    <!--                        <span th:text="${matching.playerNumber} + '/' + ${matching.matchingType.code}"></span>-->
                    <!--                    </td>-->
                    <!--                    <td class="text-center" th:text="${matching.author}"></td>-->
                    <td>

                    </td>
                    <td class="text-center">
                      <span th:if="${mList.matchingCondition.title == '신청가능'}"
                            th:text="${mList.matchingCondition.title}"
                            class="badge text-bg-success rounded-pill d-inline py-3 px-4">
                      </span>
                        <span th:if="${mList.matchingCondition.title == '신청마감'}">
                             <span th:if="${mList.matchingStatus.name() == 'BEFORE'}"
                                   th:text="${mList.matchingCondition.title}" class="text-bg-danger badge rounded-pill d-inline py-3 px-4">
                            </span>
                            <span th:if="${mList.matchingStatus.name() == 'TWOHOURBEFORE'}"
                                  th:text="${mList.matchingCondition.title}" class="text-bg-danger badge rounded-pill d-inline py-3 px-4">
                            </span>
                            <span th:if="${mList.matchingStatus.name() == 'HOURBEFORE'}"
                                  th:text="${mList.matchingCondition.title}" class="text-bg-danger badge rounded-pill d-inline py-3 px-4">
                            </span>
                            <span th:if="${mList.matchingStatus.name() == 'ONGOING'}"
                                  class="badge rounded-pill d-inline py-3 px-4" style="background: grey">경기진행중
                            </span>
                            <span th:if="${mList.matchingStatus.name() == 'AFTER'}"
                                  class="badge rounded-pill d-inline py-3 px-4" style="background: grey">경기종료
                            </span>
                            <span th:if="${mList.matchingStatus.name() == 'WEEKAFTER'}"
                                  class="badge rounded-pill d-inline py-3 px-4" style="background: grey">경기종료
                            </span>
                      </span>
                        <span th:if="${mList.matchingCondition.title == '매칭실패'}"
                              th:text="${mList.matchingCondition.title}"
                              class="badge rounded-pill d-inline text-bg-warning py-3 px-4">
                      </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--&lt;!&ndash; paging Start &ndash;&gt;-->
<!--<nav aria-label="Page navigation example" th:if="${startPage != null}">-->
<!--    <ul class="pagination pagination-circle justify-content-center">-->
<!--        <li class="page-item" th:if="${nowPage!=startPage}">-->
<!--            <a class="page-link" aria-label="Previous" th:href="@{/matching/home(page=${nowPage -2})}">-->
<!--                <span aria-hidden="true">&laquo;</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <th:block class="page-item" th:each="page:${#numbers.sequence(startPage, endPage)}">-->
<!--            <div th:if="${endPage != 0}">-->
<!--                <a class="page-link" th:if="${page != nowPage}" th:href="@{/matching/home(page=${page -1})}"-->
<!--                   th:text="${page}"></a>-->
<!--                <strong class="page-link" th:if="${page==nowPage}" th:text="${page}"></strong>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <li class="page-item" th:if="${nowPage!=endPage && endPage != 0}">-->
<!--            <a class="page-link" aria-label="Next" th:href="@{/matching/home(page=${nowPage})}">-->
<!--                <span aria-hidden="true">&raquo;</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<!--&lt;!&ndash; paging End &ndash;&gt;-->


<!-- Modal -->
<div class="modal fade" id="matchAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-2" id="matchAddModalLabel">매치 생성</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form th:action="@{/matching/new}" th:object="${matching}" method="POST">
                    <input hidden id="beforeHour" th:field="${matching.beforeHour}"/>
                    <input hidden id="beforeTwoHour" th:field="${matching.beforeTwoHour}"/>
                    <div class="mb-3">
                        <label for="matchingTitle" class="form-label">매치 이름<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" th:field="${matching.title}"
                               id="matchingTitle" placeholder="매치 이름을 입력해주세요" maxlength="15" required>
                    </div>
                    <div class="mb-3">
                        <label for="matchingDate" class="form-label">매치 날짜<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" th:field="${matching.matchingDate}"
                               id="matchingDate" placeholder="매치 날짜를 입력해주세요" required>
                    </div>
                    <div class="mb-3">
                        <label for="matchingStartTime" class="form-label">시작 시간<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control readonly"
                               th:field="${matching.matchingStartTime}" id="matchingStartTime"
                               placeholder="시작 시간을 입력해주세요" required>
                    </div>
                    <div class="mb-3">
                        <label for="matchingEndTime" class="form-label">종료 시간<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control readonly"
                               th:field="${matching.matchingEndTime}" id="matchingEndTime"
                               placeholder="종료 시간을 입력해주세요" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">매치 종류<span class="text-danger">*</span></div>
                        <div th:each="match : ${matchTypes}" class="form-check form-check-inline">
                            <input type="radio" th:field="*{matchingType}"
                                   th:value="${match.name()}" class="form-check-input" required>
                            <label th:for="${#ids.prev('matchingType')}" th:text="${match.title}"
                                   class="form-check-label"></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">코트 종류<span class="text-danger">*</span></div>
                        <div th:each="court : ${courtTypes}" class="form-check form-check-inline">
                            <input type="radio" th:field="*{courtType}" th:value="${court.name()}"
                                   class="form-check-input" required>
                            <label th:for="${#ids.prev('courtType')}" th:text="${court.title}"
                                   class="form-check-label"></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="matchingTitle" class="form-label">매치 소개<span
                            class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" th:field="${matching.content}"
                                  id="matchingContent" placeholder="매치 소개를 입력해주세요"
                                  style="height: 200px; resize: none;" maxlength="200" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="matchingPlace" class="form-label">매치 장소<span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control readonly" th:field="${matching.place}"
                               id="matchingPlace" placeholder="매칭 장소를 입력해주세요"
                               data-bs-toggle="modal" data-bs-target="#matchAddLocationModal"
                               required>
                        <!--                        <a type="button" class="btn btn-primary px-4 py-3"-->
                        <!--                           data-bs-toggle="modal" data-bs-target="#matchAddModal">매치등록</a>-->
                        <input hidden id="matching_lat" th:field="${matching.lat}">
                        <input hidden id="matching_lng" th:field="${matching.lng}">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                취소
                            </button>
                            <button type="submit" id="matchingAdd" class="btn btn-primary">등록하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 모달 끝 -->

<div class="modal fade" id="matchAddLocationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-2" id="matchAddLocationModalLabel">장소 등록</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="matchingPlace" class="form-label">매치 장소<span class="text-danger">*</span></label>
                    <div th:errors="${matching.place}" class="text-danger"></div>
                    <div class="map_wrap">
                        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

                        <div id="menu_wrap" class="bg_white">
                            <div class="option">
                                <div>
                                    <form onsubmit="searchPlaces(); return false;">
                                        키워드 : <input type="text" value="서울테니스" id="keyword" size="15">
                                        <button type="submit">검색하기</button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center ">
                    <input id="placeName" class="text-center border-0 w-100 mb-3" placeholder="장소를 선택해주세요." >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#matchAddModal">위치 등록
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="footer bg-white small text-center text-black-50">
    <div class="container px-4 px-lg-5">Copyright &copy; 우아한1팀 GOGOtennis 2022</div>
</footer>
<div hidden id="m-date" th:value="${currDate}"></div>
<!-- JS-->
<script th:src="@{/js/matchingDate.js}"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=45acc46c41ba5b2c11cd52ac12e6960a&libraries=services"></script>
<script th:src="@{/js/kakaoMap.js}"></script>
<script th:src="@{/js/dateCarousel.js}"></script>
<script th:src="@{/js/slider.js}"></script>
</body>
</html>