<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Tennis</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</head>
<body>
<div class="matching-main"> <!-- Matching Main Start -->
  <h4>매칭 수정</h4>
  <form role="form" th:object="${form}"  method="post">
    <input type="hidden" th:field="*{id}" th:action="@{/matching/update/{id} (id=${form.id})}">
    <div class="form-group">
      <label th:for="title">매칭 이름:</label>
      <input id="title" type="text" class="form-control" name="title"
             th:value="${form.title}"/>
      <div class="field-error" th:errors="${form.title}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchingDate">매칭 날짜:</label>
      <input id="matchingDate" type="date" class="form-control" name="matchingDate"
             th:value="${form.matchingDate}"/>
      <div class="field-error" th:errors="${form.matchingDate}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchingStartTime">시작 시간:</label>
      <input id="matchingStartTime" type="text" class="form-control" readonly name="matchingStartTime"
             th:value="${form.matchingStartTime}"/>
      <div class="field-error" th:errors="${form.matchingStartTime}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchingEndTime">종료 시간:</label>
      <input id="matchingEndTime" type="text" class="form-control" readonly name="matchingEndTime"
             th:value="${form.matchingEndTime}"/>
      <div class="field-error" th:errors="${form.matchingEndTime}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchingType">매칭 종류: </label>
      <input type="radio" th:field="${form.matchingType}" value="SINGLE">단식
      <input type="radio" th:field="${form.matchingType}" value="DOUBLE">복식
      <div class="field-error" th:errors="${form.matchingType}"></div>
    </div>
    <div class="form-group">
      <label th:for="courtType">코트 종류: </label>
      <input type="radio" th:field="${form.courtType}" value="INDOOR">실내
      <input type="radio" th:field="${form.courtType}" value="OUTDOOR">실외
      <div class="field-error" th:errors="${form.courtType}"></div>
    </div>
    <div class="form-group">
      <label th:for="place">매칭 장소:</label>
      <input id="place" type="text" class="form-control" name="place"
             th:value="${form.place}"/>
      <div class="field-error" th:errors="${form.place}"></div>
    </div>
    <button type="submit" class="button-submit" id="matching-submit">수정하기</button>
  </form>
  <button type="button" th:onclick="|location.href='@{/matching/home}'|">이전</button>
</div> <!-- Board Main End -->
<script th:src="@{/js/matchingDate.js}"></script>
</body>
</html>