<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Tennis</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/banner.css" rel="stylesheet"/>
    <link href="/css/menu.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
    <script type="application/javascript"
            src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
</head>
<body class="pt-6">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">GOGOtennis</a>
        <!-- <a class="navbar-brand" th:href="@{/}">
             <img src="img/logo2.png" alt="logo" width="100">
         </a>-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
        </button>
        <div class="gap-5 collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/matching/home}">매치</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/tournament}">대회</a></li>
                <li class="nav-item"><a class="nav-link" href="#">랭킹</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/boards/home}">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/other}">동호회</a></li>
            </ul>

            <div class="gap-2 d-md-flex">
                <div th:if="${session.loginMember == null}">
                    <button type="button" class="btn btn-outline-primary"
                            th:onclick="|location.href='@{/members/new}'|">회원가입
                    </button>
                    <button type="button" class="btn btn-outline-primary"
                            th:onclick="|location.href='@{/login}'|">로그인
                    </button>
                </div>  <!-- TODO : 로그인 modal 창 구현 -->
                <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'GOGOTENNIS'}">
                    <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/logout}'|">
                        로그아웃
                    </button>

                    <button type="button" class="btn btn-outline-primary"
                            th:onclick="|location.href='@{/members/profile/{id} (id=${session.loginMember.id})}' |" )>내
                        정보
                    </button>
                </div>

                <!-- 카카오 로그아웃-->
                <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'KAKAO'}">
                    <button type="button" class="btn btn-outline-primary"
                            th:onclick="|location.href='@{https://kauth.kakao.com/oauth/logout?client_id=b70b62ddd16773ad4e495c5aa49dc006&logout_redirect_uri=http://localhost:8080/oauth/kakao/logout&response_type=code}'|">
                        로그아웃
                    </button>

                    <!-- TODO:내 정보 UI 구현-->
                    <button type="button" class="btn btn-outline-primary"
                            th:onclick="|location.href='@{/members/profile/{id} (id=${session.loginMember.id})}' |" )>내
                        정보
                    </button>
                </div>

            </div> <!--gap-2 d-md-flex END-->

        </div>
    </div>
</nav>

<!-- banner -->
<div class="board_banner_area">
    <div class="board_banner_text">
        <h1>Matching</h1>
        <p>Check out the Matching schedule!</p>
    </div>
    <img src="/images/tournament_banner3.jpg" alt="Contact US 배너 이미지">
</div>

<div class="col-12 p-5"></div>
<div class="container">
    <div class="matching-main"> <!-- Matching Main Start -->
        <h3>매칭</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">매칭 날짜</th>
                    <th scope="col">시작 시간</th>
                    <th scope="col">종료 시간</th>
                    <th scope="col">매칭 지역</th>
                    <th scope="col">매칭 이름</th>
                    <th scope="col">매칭 타입</th>
                    <th scope="col">코트 타입</th>
                    <th scope="col">참여자</th>
                    <th scope="col">생성자</th>
                    <th scope="col">매칭상태</th>
                    <th scope="col">
                        <button type="button" th:onclick="|location.href='@{/matching/matchingAdd}'|"
                                th:if="${session.loginMember != null}">매치 등록
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="matching:${matchingList}">
                    <td th:text="${matching.matchingDate}"></td>
                    <td th:text="${matching.matchingStartTime}"></td>
                    <td th:text="${matching.matchingEndTime}"></td>
                    <td th:text="${matching.place}"></td>
                    <td th:text="${matching.title}"></td>
                    <td th:text="${matching.matchingType.title}"></td>
                    <td th:text="${matching.courtType.title}"></td>
                    <td th:if="${matching.matchingType.title.equals('단식')}"
                        th:text="${matching.playerNumber} + '/' + ${matching.matchingType.code}"></td>
                    <td th:if="${matching.matchingType.title.equals('복식')}"
                        th:text="${matching.playerNumber} + '/' + ${matching.matchingType.code}"></td>
                    <td th:text="${matching.author}"></td>
                    <td th:text="${matching.matchingCondition.title}"></td>
                    <td>
                        <button type="button"
                                th:onclick="|location.href='@{/matching/detail/{id} (id=${matching.id})}'|"
                                th:if="${session.loginMember != null}">상세보기
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/matching/home(page=${page-1})}"
               th:text="${page}"></a>
            <strong th:if="${page==nowPage}" th:text="${page}" style="color:red"></strong>
        </th:block>
    </div>
</div>
<!-- Footer-->
<footer class="footer bg-white small text-center text-black-50">
    <div class="container px-4 px-lg-5">Copyright &copy; 우아한1팀 Website 2022</div>
</footer>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<!-- JS Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<!-- JS-->

</body>
</html>
