<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">

  <!-- loginPage 에서만 쓸 link-->
  <link href="/css/header-style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/updatepassword.css">
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

</head>
<body>
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

<br>
<br>
<br>


<div class="wrap">
  <div class="login">
    <h3 class="hit">비밀번호 재설정</h3>
    <h3 class="hit2">GOGOTENNIS</h3>
    <form class="login-form" role="form" action="/members/find" method="post" th:object="${form}" >

      <!-- 검증 로직-->
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>


      <div class="login_id">
        <label th:for="text"></label>
        <input id="text" type="text" class="form-control" th:field="*{loginId}" placeholder="GOGOTENNIS 아이디를 입력해주세요."/>
      </div>

      <button type="submit" class="submit" id="submit">다음</button>
    </form>

  </div>
</div> <!--wrap end-->
<div class="m-5 p-3"></div>
<footer th:replace="fragments/footer :: footer"></footer>
</div> <!-- container end-->

</body>


</html>

