<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">

  <link href="/css/header-style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

</head>
<body>
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

<br>
<br>
<br>
<br>
<br>



<form role="form" th:object="${form}" method="post" action="/members/find">
  <div>
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

  <input type="text" placeholder="로그인 id 입력해주세요" th:field="*{loginId}">

  </div>

  <button type="submit">전송</button>
</form>

<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>