<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

  <title>Profile Home</title>
</head>
<body>

<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

<div class="container">   <!-- Container Start -->
  <div ></div>
  <div class="board"> <!-- board start -->
    <div class="side-menu-left"> <!-- Left Side Menu Start -->
      <br/>
      <br/>
      <br/>
      <h3>My Page</h3>
      <ul>
        <li><a href="#">내 정보</a></li>
        <li><a href="#">내 정보 수정</a></li>
        <li><a href="#">최근 전적 현황</a></li>
      </ul>
    </div> <!-- Left Side Menu End -->

   <div class="member-profile">

   </div>

    <div class="side-menu-right"> <!-- Right Side Menu Start -->

    </div> <!-- Right Side Menu End -->
  </div> <!-- board end -->

  <footer th:replace="fragments/footer :: footer"></footer>
</div> <!-- Container End -->

</body>
</html>