<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">

  <!-- loginPage 에서만 쓸 link-->
  <link href="/css/header-style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/updatepassword.css">
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

</head>
<body>
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

<br>
<br>
<br>


<div class="wrap">
  <div class="login">
    <h3 class="hit">비밀번호 재설정</h3>
    <h3 class="hit2">GOGOTENNIS</h3>
    <form class="login-form" role="form" action="/members/update" method="post" th:object="${form}" >
      <input type="hidden" th:field="*{id}">

      <!-- 검증 로직-->
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
      </div>


      <div class="login_id">
        <label th:for="password"></label>
        <input id="password" type="password" class="form-control" th:field="*{updatePassword}"
               placeholder="새 비밀번호"/>
        <div class="field-error" th:errors="${form.updatePassword}"></div>
      </div>

      <div class="login_pw">
        <label th:for="passwordcheck"></label>
        <input id="passwordcheck" type="password" class="form-control" th:field="*{updatePasswordCheck}"
               placeholder="새 비밀번호 확인"/>
        <div class="field-error" th:errors="${form.updatePasswordCheck}"></div>
      </div>

      <button type="submit" class="submit" id="submit">비밀번호 변경</button>
    </form>

  </div>
</div> <!--wrap end-->
<div class="m-5 p-2"></div>
<footer th:replace="fragments/footer :: footer"></footer>
</div> <!-- container end-->

</body>


</html>

