<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <link href="/css/header-style.css" rel="stylesheet">
  <title>Board Detail</title>
</head>
<body>
  <div class="container"> <!-- Container Start -->
    <div class="header">  <!-- Header Start -->
      <h1>
        <img th:src="@{/images/gogoTennisLogo.png}" alt="logo" width="160"
             th:onclick="|location.href='@{/}'|">
      </h1>
      <div class="nav"> <!-- Main Menu Start -->
        <ul>
          <li>
            <a th:onclick="|location.href='@{/match/home}'|">매치</a>
          </li>
          <li>
            <a th:onclick="|location.href='@{/rank/home}'|">랭킹</a>
          </li>
          <li>
            <a th:onclick="|location.href='@{/tournament/home}'|">대회</a>
          </li>
          <li>
            <a th:onclick="|location.href='@{/boards/home}'|">커뮤니티</a>
          </li>
        </ul>
      </div> <!-- Main Menu End -->
      <div class="login-menu"> <!-- login start -->
        <ul>
          <li th:if="${session.loginMember == null}">
            <a th:onclick="|location.href='@{/members/new}'|">회원가입</a>
          </li>
          <li th:if="${session.loginMember == null}">
            <a th:onclick="|location.href='@{/login}'|">로그인</a>
          </li>
          <li th:if="${session.loginMember != null}">
            <a th:onclick="|location.href='@{/members/profile}'|">프로필</a>
          </li>
          <li th:if="${session.loginMember != null}">
            <a th:onclick="|location.href='@{/logout}'|">로그아웃</a>
          </li>
        </ul>
      </div> <!-- login end -->
    </div><!-- Header End -->
    <div class="board"> <!-- board start -->
      <div class="side-menu-left"> <!-- Left Side Menu Start -->
        <h3>Community</h3>
        <ul>
          <li><a href="#">자유게시판</a></li>
          <li><a href="#">공지사항</a></li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">레슨 찾아요</a></li>
          <li><a href="#">동호회</a></li>
        </ul>
      </div> <!-- Left Side Menu End -->

      <div class="board-detail"> <!-- Board Detail Start -->
        <h6>자유게시판</h6>
        <div class="board-header"> <!-- 게시글 헤더 -->
          <h3 th:text="${board.title}"></h3>
          <table>
            <thead>
            <tr>
              <th>
                <img th:src="@{/images/user.png}" alt="logo" height="15" width="20">
                <a th:text="${board.author}"></a>
              </th>
              <th>
                <img th:src="@{/images/clock.png}" alt="logo" height="15" width="20">
                <a th:text="${board.createdDate}"></a>
              </th>
              <th>
                <img th:src="@{/images/views.png}" alt="logo" height="10" width="20">
                <a th:text="${board.views}"></a>
              </th>
            </tr>
            </thead>
          </table>
        </div> <!-- 게시글 헤더 끝 -->
        <div class="board-content"> <!-- 게시글 본문 -->
          <p th:text="${board.content}"></p>
        </div> <!-- 게시글 본문 끝 -->
      </div> <!-- Board Detail End -->

      <!-- TODO -->
      <div class="comment">
        <div class="comment-body">
          <table th:if="${!comments.isEmpty()}">
            <thead>
            <tr>
              <th>작성자</th>
              <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "comment : ${comments}">
              <td th:text="${comment.author}"></td>
              <td th:text="${comment.content}"></td>
              <div th:if="${session.loginMember != null}">
                <td th:if="${session.loginMember.id == comment.member.id}">
                  <button id="comment-update">수정</button>
                </td>
                <td th:if="${session.loginMember.id == comment.member.id}">
                  <button id="comment-delete" th:onclick="deleteComment([[${comment.id}]])">삭제</button>
                </td>
              </div>
            </tr>
            </tbody>
          </table>
        </div>

        <form>
          <div class="comment-input-body">
            <input hidden id="board-id" th:value="${board.id}">
            <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
          </div>
          <button id="comment-submit" type="submit">등록</button>
        </form>
      </div>

    </div> <!-- board end -->
  </div> <!-- Container End -->
</body>
<script type="text/javascript">
  $("#comment-submit").click(function () {
    let comment = {
      content: $("#comment").val(),
      boardId: $("#board-id").val()
    }
    $.ajax({
      type: "post",
      async: false,
      url: "/comments/commentAdd/" + comment.boardId,
      data: comment,
      success: function (data) {
        if(data == 1) {
          alert("댓글 저장 성공!");
          window.location.reload();
        } else if (data == 0) {
          alert("로그인 후 이용 가능합니다.")
        } else if (data == 2) {
          alert("댓글 길이는 1 ~ 100자 이내여야 합니다.");
        }
      },
      error: function () {
        alert("서버 에러!");
      },
    })
  });

  const deleteComment = (commentId) => {
    $.ajax({
      type: "post",
      url: "/comments/commentDelete/" + commentId,
      success: function (data) {
        if (data == 1) {
          alert("댓글 삭제 성공!");
          window.location.reload();
        }
      },
      error: function () {
        alert("서버 에러!");
      },
    });
  };

</script>
</html>