<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container"> <!-- Container Start -->

  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" th:href="@{/}">GOGOtennis</a>
      <!-- <a class="navbar-brand" th:href="@{/}">
           <img src="img/logo2.png" alt="logo" width="100">
       </a>-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <div class="gap-5 collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#">매치</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/tournament}">대회</a></li>
          <li class="nav-item"><a class="nav-link" href="#">랭킹</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/boards/home}">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/other}">동호회</a></li>
        </ul>

        <div class="gap-2 d-md-flex">
          <div th:if="${session.loginMember == null}">
            <button type="button" class="btn btn-outline-primary"
                    th:onclick="|location.href='@{/members/new}'|">회원가입</button>
            <button type="button" class="btn btn-outline-primary"
                    th:onclick="|location.href='@{/login}'|">로그인</button>
          </div>  <!-- TODO : 로그인 modal 창 구현 -->
          <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'GOGOTENNIS'}">
            <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/logout}'|">로그아웃</button>

            <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/members/profile/{id} (id=${session.loginMember.id})}' |" )>내 정보</button>
          </div>

          <!-- 카카오 로그아웃-->
          <div th:if="${session.loginMember != null} and ${session.loginMember.provider.toString() == 'KAKAO'}">
            <button type="button" class="btn btn-outline-primary"
                    th:onclick="|location.href='@{https://kauth.kakao.com/oauth/logout?client_id=b70b62ddd16773ad4e495c5aa49dc006&logout_redirect_uri=http://localhost:8080/oauth/kakao/logout&response_type=code}'|">로그아웃</button>

            <!-- TODO:내 정보 UI 구현-->
            <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/members/profile/{id} (id=${session.loginMember.id})}' |" )>내 정보</button>
          </div>

        </div> <!--gap-2 d-md-flex END-->

      </div>
    </div>
  </nav>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <div class="board"> <!-- board start -->
    <div class="side-menu-left"> <!-- Left Side Menu Start -->
      <h3>Community</h3>
      <ul>
        <li><a href="#">자유게시판</a></li>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">Q&A</a></li>
        <li><a href="#">레슨 찾아요</a></li>
        <li><a href="#">동호회</a></li>
      </ul>
    </div> <!-- Left Side Menu End -->

    <div class="board-detail"> <!-- Board Detail Start -->
      <h6>자유게시판</h6>
      <div class="board-header"> <!-- 게시글 헤더 -->
        <h3 th:text="${board.title}"></h3>
        <table>
          <thead>
          <tr>
            <th>
              <img th:src="@{/images/user.png}" alt="logo" height="15" width="20">
              <a th:text="${board.author}"></a>
            </th>
            <th>
              <img th:src="@{/images/clock.png}" alt="logo" height="15" width="20">
              <a th:text="${board.createdDate}"></a>
            </th>
            <th>
              <img th:src="@{/images/views.png}" alt="logo" height="10" width="20">
              <a th:text="${board.views}"></a>
            </th>
            <div th:if="${session.loginMember != null}">
              <th th:if="${session.loginMember.id == board.member.id}">
                <button th:onclick="deleteBoard([[${board.id}]])">게시글 삭제</button>
              </th>
              <th th:if="${session.loginMember.id == board.member.id}">
                <form class="col" role="form" th:action="@{/boards/update/{id} (id=${board.id})}"
                      method="get">
                  <button type="submit">게시글 수정</button>
                </form>
              </th>
            </div>
          </tr>
          </thead>
        </table>
      </div> <!-- 게시글 헤더 끝 -->
      <div class="board-content"> <!-- 게시글 본문 -->
        <p th:text="${board.content}"></p>
      </div> <!-- 게시글 본문 끝 -->
    </div> <!-- Board Detail End -->

    <div class="comment">
      <div class="comment-body">
        <table th:if="${!comments.isEmpty()}">
          <thead>
          <tr>
            <th>작성자</th>
            <th>내용</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each = "comment : ${comments}">
            <td th:text="${comment.author}"></td>
            <td>
              <input th:id="'comment-content-'+${comment.id}" disabled
                     th:value="${comment.content}">
            </td>
            <div th:if="${session.loginMember != null}">  <!-- 댓글 수정,삭제 버튼 -->
              <td>
                <div th:if="${session.loginMember.id == comment.member.id}">
                  <button th:onclick="updateComment([[${comment.id}]])"
                          th:id="'comment-update-'+${comment.id}">수정</button>
                  <button th:id="'comment-delete-'+${comment.id}"
                          th:onclick="deleteComment([[${comment.id}]])">삭제</button>
                </div>
                <div>
                  <button hidden th:id="'comment-update-confirm-'+${comment.id}"
                          th:onclick="updateCommentConfirm([[${comment.id}]])">확인</button>
                  <button hidden th:id="'comment-update-cancel-'+${comment.id}"
                          th:onclick="updateCommentCancel([[${comment.id}]])">취소</button>
                </div>
              </td>
            </div>
          </tr>
          </tbody>
        </table>
      </div>

      <div th:if="${session.loginMember != null}">   <!-- 댓글 입력 창 -->
        <div class="comment-input-body">
          <input hidden id="board-id" th:value="${board.id}">
          <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
        </div>
        <button id="comment-submit" type="submit">등록</button>
      </div>
    </div>

  </div> <!-- board end -->
  <footer th:replace="fragments/footer :: footer"></footer>
</div> <!-- Container End -->
</body>
<script th:src="@{/js/boardDetailPage.js}"></script>
</html>