<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <link href="/css/header-style.css" rel="stylesheet">
  <title>Board Add</title>
</head>
<body>
  <div class="container">   <!-- Container Start -->
    <nav th:replace="fragments/bodyheader :: bodyHeader"></nav>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="board"> <!-- board start -->
      <div class="side-menu-left"> <!-- Side Menu Start -->
        <h3>Community</h3>
        <ul>
          <li><a href="#">자유게시판</a></li>
          <li><a href="#">공지사항</a></li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">레슨 찾아요</a></li>
          <li><a href="#">동호회</a></li>
        </ul>
      </div> <!-- Side Menu End -->

      <div class="board-main"> <!-- Board Main Start -->
        <h4>글쓰기</h4>
        <form role="form" th:object="${form}"  method="post">
          <input type="hidden" th:field="*{id}" th:action="@{/boards/update/{id} (id=${form.id})}">
          <div class="form-group">
            <label th:for="title"></label>
            <input id="title" type="text" class="form-control" name="title"
                   th:value="${form.title}"/>
            <div class="field-error" th:errors="${form.title}"></div>
          </div>
          <div class="form-group">
            <label th:for="content"></label>
            <textarea id="content" type="text" class="form-control" name="content"
                      th:text="${form.content}"></textarea>
            <div class="field-error" th:errors="${form.content}"></div>
          </div>
          <button type="submit" class="button-submit" id="board-submit">수정하기</button>
        </form>
      </div> <!-- Board Main End -->

      <div class="side-menu-right"> <!-- Right Side Menu Start -->
      </div> <!-- Right Side Menu End -->
    </div> <!-- board end -->
    <footer th:replace="fragments/footer :: footer"></footer>
  </div> <!-- Container End -->
</body>
</html>