.board_banner_area {
  position: relative;
  width: 100%;
}

.board_banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  width: 100%;
  text-align: center;
  font-family: "Nunito", -apple-system, sans-serif;
}

.board_banner_text h1 {
  color: #FFF;
  font-size: 4.2vw;
  font-weight: 600;
  text-align: center;
  font-family: "Nunito", -apple-system, sans-serif;
}

.board_banner_text p {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 200;
  text-align: center;
  margin-top: 0.7vw;
  font-family: "Nunito", -apple-system, sans-serif;
}

.board_banner_area img {
  width: 100%;
  max-height: 470px;
  display: block;
}