/* menu */
.menu {
	display: flex;
}

.menu-name {
	background-position: center;
}

.menu-item {
	/* flex-grow: 1; */
	width: 25%;
	background: black;
	transition: 0.5s;
}

.line_limit {
	width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
}

/*.menu-link {*/
/*	display: block;*/
/*	padding: 1em;*/
/*	font-size: 1.2rem;*/
/*	font-weight: bold;*/
/*	color: whitesmoke;*/
/*	text-decoration: none;*/
/*	text-align: center;*/
/*}*/
/*.menu-link:hover {*/
/*	color: white;*/
/*}*/


/*!* search *!*/
/*.search-form {*/
/*	display: flex;*/
/*	height: 40px;*/
/*}*/
/*.search-form input[type="search"] {*/
/*	flex: 1;*/
/*	min-width: 0;*/
/*	margin-right: 10px;*/
/*	border: 0;*/
/*	border-radius: 0.3em;*/
/*	font-size: 1rem;*/
/*}*/
/*.search-form input[type="submit"] {*/
/*	width: 4em;*/
/*	border: 0;*/
/*	border-radius: 0.3em;*/
/*	font-size: 1rem;*/
/*	background: gold;*/
/*}*/

/*.board_banner_area {*/
/*	position: relative;*/
/*	width: 100%;*/
/*}*/

/*.board_banner_text {*/
/*	position: absolute;*/
/*	font-family: Nunito;*/
/*	top: 35%;*/
/*	left: 50%;*/
/*	transform: translate(-50%,-50%);*/
/*	z-index: 99;*/
/*	width: 100%;*/
/*	text-align: -webkit-center;*/
/*	letter-spacing: 0.0625em;*/
/*}*/

/*.board_banner_text span {*/
/*	color: #FFF;*/
/*	font-size: 4.2vw;*/
/*	font-weight: 600;*/
/*	text-align: center;*/
/*	display: block;*/
/*}*/

/*.board_banner_text span .s1 {*/

/*	font-size: 25px;*/
/*	font-weight: bold;*/
/*	display: block;*/
/*}*/

/*.board_banner_area img {*/
/*	width: 100%;*/
/*	max-height: 259.48px;*/
/*	display: block;*/
/*}*/

/* bullet list */
.info-list {
	margin-bottom: 2rem;
	font-family: 'Ubuntu Condensed', "Noto Sans Korean";
}

.info-list-item {
	font-size: 17px;
	display: flex;
	margin: 0.5em 0;
}

.info-list-item:before {
	content: "";
	margin-right: 0.5em;
}

/* message */
.user-list {
	margin-bottom: 2rem;
}

.user-item {
	display: flex;
	margin-bottom: 1.5em;
}

.user-photo {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	margin-right: 0.5em;
	border: 2px solid #333;
	border-radius: 50%;
	background-color: gold;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150%;
}

/* friend list */
.friend-item {
	align-items: center;
}

.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* modal */
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
}

.dialog {
	width: 50vw;
	padding: 2em;
	border-radius: 1em;
	background: white;
}


.comment-delete- .animated {
	display: none
}

.comment-delete-:hover .animated {
	display: inline
}

.comment-delete-:hover .static {
	display: none
}

/*.comment-update- .animated {*/
/*	display: none*/
/*}*/

/*.comment-update-:hover .animated {*/
/*	display: inline*/
/*}*/

/*.comment-update-:hover .static {*/
/*	display: none*/
/*}*/


/*.comment-update- a:hover {*/
/*	background-image: url(edit.png);*/
/*	background-position: 0 0;*/
/*	animation:  1s steps(1) 4 forwards;*/
/*}*/

@media (min-width: 600px) {
	.card-list-con {
		overflow-x: hidden;
	}

	.card-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
	}

	.card-item {
		width: 100%;
		padding: 0 1rem;
	}
}

@media (min-width: 1200px) {
	.card-item {
		width: 100%;
	}
}