.board_banner_area {
  position: relative;
  width: 100%;
}

.board_banner_text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  width: 100%;
  text-align: center;
}

.board_banner_text h1 {
  color: #FFF;
  font-size: 4.2vw;
  font-weight: 600;
  text-align: center;
}

.board_banner_text p {
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 200;
  text-align: center;
  margin-top: 0.7vw;
}

.board_banner_area img {
  width: 100%;
  max-height: 470px;
  display: block;
}

.border_shape {
  /*border-top: gray solid 2px;*/
  /*border-bottom: gray solid 2px;*/
  background-color: whitesmoke;
  border-radius: 25px;
}

.border_shape img{
  height : 315px;
  width: 300px;
  /*object-fit: cover;*/
}


section::-webkit-scrollbar {
  width:10px;
}

section::-webkit-scrollbar-track {
  background : gray;
  display: none;
}

section::-webkit-scrollbar-thumb{
  background:  linear-gradient(#c2e59c, #64b3f4);
  border-radius: 5px;
}

.profile_img{
  margin: 0;
  /*padding-bottom: 20px;*/
  /*padding-right: 10px;*/
  background-size: cover;
  background-position: center;
  /*object-fit: cover;*/
  object-position: center;
  border-radius: 15%;

}

.sidebar {
  position: sticky;
  height: 400px;
  top : 70px;
}

.bubble {
  top: 100px;
  height: 130px;
  background: #fff;
  border: #bbb solid 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 20px 30px;
}