.gogotennis_logo{
  color: #74DF00;
}

.submit {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: #74DF00;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 2px;
}

a{
  flex: auto;
  justify-content: center;
}