.container .board .board-main{
  padding: 10px;
  margin: 10px;
}

.container .board .board-main{
  align-items: center;
}

.container .board .board-main h4{
  margin-left: 50px;
}

.container .board .board-main .form-group{
  padding-top: 20px;
  padding-left: 5%;
}

.container .board .board-main .form-group #title{
  width: 90%;
  height: 30px;
}

.container .board .board-main .form-group #content{
  width: 90%;
  height: 300px;
}

.container .board .board-main #board-submit{
  margin-left: 23%;
  width: 50%;
}