<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">
  <!-- loginPage 에서만 쓸 link-->
  <link href="/css/header-style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/loginForm.css">
  <link rel="stylesheet" href="/css/bindingresult.css">
  <!-- icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

</br>
</br>
</br>
</br>
</br>
</br>


<!--Login Form -->
<div class="wrap">
  <div class="login">
    <h3 class="hit">테니스가 치고 싶을땐</h3>
    <h3 class="hit2">GOGOTENNIS</h3>
    <div class="login-form" role="form">
      </br>
      <div class="login_id">
        <label th:for="loginId"></label>
        <input id="login_id" type="text" class="form-control"
               placeholder="아이디를 입력해주세요." required/>
      </div>
      <div class="login_pw">
        <label th:for="password"></label>
        <input id="password" type="password" class="form-control"
               placeholder="비밀번호를 입력해주세요." required/>
      </div>
      <div class="login_etc">
        <div class="checkbox">
          <input type="checkbox" name="checkId" id="saveId"> Id 저장
          <label for="saveId"></label>
        </div>
        <div class="forgot_pw">
          <a href="/members/find/password">비밀번호 찾기</a>
        </div>
      </div> <!--login_etc end-->
      <button type="submit" class="submit" id="submit" onclick="return frm_check();">로그인</button>
    </div>
    <button type="submit" class="submit" id="kakao"
            th:onclick="|location.href='@{https://kauth.kakao.com/oauth/authorize?client_id=b70b62ddd16773ad4e495c5aa49dc006&redirect_uri=http://gogotennis.co.kr/oauth/kakao&response_type=code}'|">
      <i class="bi bi-chat-fill"></i>카카오 로그인
    </button>
  </div>
</div> <!--wrap end-->
<footer th:replace="fragments/footer :: footer"></footer>
</div> <!-- container end-->

<!-- Id 저장 -->
<script th:src="@{/js/IdSave.js}"></script>
<script th:src="@{/js/loginModalCheck.js}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>