<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">

  <!-- loginPage 에서만 쓸 link-->
  <link href="/css/header-style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

</head>
<body>
    <nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

  <div class="wrap">
    <div class="login">
      <h3 class="hit">테니스가 치고 싶을땐</h3>
      <h3 class="hit2">GOGOTENNIS</h3>
      <form class="login-form" role="form" action="/login" method="post" th:object="${loginForm}">

        <!-- 검증 로직-->
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        </br>

        <div class="login_id">
          <label th:for="loginId"></label>
          <h4>아이디:</h4>
          <input id="login_id" type="text" class="form-control" th:field="${loginForm.loginId}"
                 placeholder="아이디를 입력해주세요."/>
          <div class="field-error" th:errors="${loginForm.loginId}"></div>
        </div>

        <div class="login_pw">
          <label th:for="password"></label>
          <h4>비밀번호:</h4>
          <input id="password" type="password" class="form-control" th:field="${loginForm.password}"
                 placeholder="비밀번호를 입력해주세요."/>
          <div class="field-error" th:errors="${loginForm.password}"></div>
        </div>

        <div class="login_etc">
          <div class="checkbox">
            <input type="checkbox" name="" id=""> ID 저장
          </div>

          <div class="register">
            <a href="/members/new">회원가입</a>
          </div>

          <div class="forgot_pw">
            <a href="#">비밀번호 찾기</a>
          </div>
        </div> <!--login_etc end-->

        <button type="submit" class="submit" id="submit">로그인</button>
      </form>
      <!-- TODO -->
      <a class="p-2" href="https://kauth.kakao.com/oauth/authorize?client_id=b70b62ddd16773ad4e495c5aa49dc006&redirect_uri=http://localhost:8080/oauth/kakao&response_type=code">
        <img th:src="@{/images/kakao_login_medium_narrow.png}">
      </a>
    </div>
  </div> <!--wrap end-->
  <footer th:replace="fragments/footer :: footer"></footer>
</div> <!-- container end-->
</body>
</html>