<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Tennis</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <!-- CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="/css/styles.css" rel="stylesheet"/>
  <link href="/css/clubDetail_title.css" rel="stylesheet"/>
  <!-- fontAwsome-->
  <script src="https://kit.fontawesome.com/3e2d44114c.js" crossorigin="anonymous"></script>
  <!-- slick slider (script+link)-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <!-- swal-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>
<body class="pt-6">

<!-- Navigation-->
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

<div class="board_banner_area">
  <div class="board_banner_text">
    <h1 th:text="${club.name}">동호회 이름</h1>
    <p th:text="${club.createdDate}">동호회 생성일 </p>
  </div>
  <img class="d-block w-100" style="background-size: cover; " src="https://source.unsplash.com/1500x370/?tennis" alt="배너 이미지">
</div>

<!-- 띄움 -->
<div class="col-12 p-3"></div>

<!-- layout만 나눠보기 -->
<div class="container">
  <div class="row">
    <div class="col-8 p-3" >
      <section class="border_shape"> <!-- 동호회 정보 section -->
        <div class="row p-4 gx-3 gy-3">
          <div class="col">
            <h2><span th:if="${club.status.name() == 'RECRUITING'}" th:text="${club.status.title}" class="badge text-bg-success rounded-pill d-inline"></span></h2>
            <h2><span th:if="${club.status.name() == 'END'}" th:text="${club.status.title}" class="badge text-bg-danger rounded-pill d-inline"></span></h2>
          </div>
        </div> <!-- 모집상태 -->
        <div class="row px-5">
          <div class="col-5">
            <img th:if="${club.getImg()==null}" src="/images/1.png" class="profile_img" alt="기본 이미지">
            <img th:if="${club.getImg()!=null}" th:src="'data:image/jpg;base64,'+${src}" class="profile_img">
          </div>
          <div class="col-7">
            <ul>
              <div style="font-size:x-large; text-indent: 15px;">
                <i class="bi bi-geo-alt-fill text-muted me-1"></i><span th:text="${club.local.name}"></span>
              </div>
            </ul>
            <ul>
              <div style="font-size: x-large; text-indent: 15px;">
                <i class="bi bi-people-fill text-muted me-1"></i><span th:text="${club.memberCount}"></span>
              </div>
            </ul>
            <ul>
              <div class="p-3" style="height :150px; overflow-y: auto;" >
                <p th:text="${club.introduction}">
              </div>
            </ul>
          </div>
        </div> <!-- row-2(대표이미지, 자세한 소개) -->
      </section> <!-- 동호회 정보 section END -->

      <section class="border_shape p-3 my-4 border-black" > <!-- 방명록 section -->
        <h4 style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder">
          <i class="fa-solid fa-ranking-star fa-l p-3"></i>방 명 록</h4>
        <hr>
        <!-- 댓글 창 보여주기 -->
        <thread>
          <tr th:each="visitors : ${visitors}">
            <div> <!-- 방명록 틀 -->
              <div class="row">
                <div class="col-2">
                  <img src="/images/profile_fe.png" class="rounded-circle"  style="width: 100px; height: 100px;">
                </div>
                <div class="col-10">
                  <textarea th:id="'visitor-content-'+${visitors.id}"
                            disabled
                            th:text="${visitors.content}" class="bubble col-12"></textarea>

                </div>
              </div>
              <div class="row border-1">
                <div class="col-2">
                  <h4 th:text="${visitors.member.nickname}" class="text-center"></h4>
                </div>
                <div class="col-4">
                  <h6 th:text="${visitors.createdDate}" class="text-start"></h6>
                </div>
                <div class="col-6" >
                  <div th:if="${session.loginMember.getId() == visitors.member.getId()}" style="float:right; ">
                    <!-- 수정버튼 -->
                    <button th:onclick="updateVisitor([[${visitors.id}]])"
                            th:id="'visitor-update-'+${visitors.id}"
                            class=" fa-solid fa-pencil"
                            style="border: none; background: none">
                    </button> <!-- 수정버튼 END -->
                    <!-- 삭제버튼 -->
                    <button th:id="'visitor-delete-'+${visitors.id}"
                            th:onclick="deleteVisitor([[${visitors.id}]])"
                            class=" fa-solid fa-trash-can"
                            style="border: none; background: none">
                    </button> <!-- 삭제버튼 END -->

                    <div> <!-- 수정할때 보여지는 버튼 평소에는 hidden -->
                      <button hidden
                              th:id="'visitor-update-confirm-'+${visitors.id}"
                              th:onclick="updateVisitorConfirm([[${visitors.id}]])"
                              class="bi bi-check-circle"
                              style="border: none; background: none">
                      </button>
                      <button hidden
                              th:id="'visitor-update-cancel-'+${visitors.id}"
                              th:onclick="updateVisitorCancel([[${visitors.id}]])"
                              class="bi bi-x-circle"
                              style="border: none; background: none">
                      </button>
                    </div> <!-- 수정할때 보여지는 버튼 평소에는 hidden END -->
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </thread>

        <!-- 댓글 입력 창 -->
        <div class="w-100">
          <div> <!-- TODO 로그인 + 동호회 회원인 사람 조건넣어주기 -->
            <div class="comment-input-body">
              <input hidden id="club-id" th:value="${club.id}">
              <textarea id="content" class="form-control" rows="4"
                        placeholder="방명록을 입력하세요"></textarea>
            </div>
            <br>
            <div class="d-flex justify-content-end">
              <button class="shadow-sm" id="visitor-submit" type="submit">등록</button>
            </div>
          </div>
        </div>
      </section>
      <!-- 댓글 입력 창 END-->
      <!-- 방명록 section END -->
    </div>

    <!-- 선수명단 -->
    <div class="col-4 py-3 sidebar" >
      <section class="border_shape p-3" style="height : 300px; overflow-y: auto;">
        <h3 style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder"><i class="fa-solid fa-medal fa-l p-2"></i>회원 명단</h3>
        <HR>
        <table class="align-middle">
          <tr th:each="clubMember:${memberList}">
            <td>
              <div th:if="${clubMember.member.nickname==club.member.nickname}" style="font-weight: bold; text-indent: 25px;">
                <i class="fa-sharp fa-solid fa-crown fa-xl"></i>
              </div>
            </td>
            <td class="py-2" th:text="${clubMember.member.nickname}" style="text-indent: 40px;font-weight : bold; font-size: large"></td>
            <td class="py-2" th:if="${session.loginMember.id == club.member.id}">
              <div th:if="${clubMember.member.id!=club.member.id}" style="text-indent: 40px;">
                <div>
                  <form th:action="@{/club/memberBan/{id} (id=${clubMember.id})}" method="POST">
                    <button type="submit" class="btn btn-success p-1"
                            style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder">추방</button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </section>

      <section class="my-3 text-center d-grid"> <!-- 버튼! -->
        <!-- 버튼들 -->
        <div th:if="${session.loginMember != null}">
          <ul>
            <!-- 회원이면서 클럽장인 사람-->
            <div th:if="${clubMemberCheck != null}">
              <div th:if="${clubMemberCheck.member.nickname == club.member.nickname}">
                <form th:action="@{/club/delete}" method="POST">
                  <input type="hidden" th:field="*{club.id}">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-outline-success border my-3"
                            style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder">동호회 삭제</button>
                  </div>
                </form>
                <div class="d-grid">
                  <div class="d-grid">
                    <button type="button" class="btn btn-outline-success border"
                            data-bs-toggle="modal" data-bs-target="#clubUpdateModal"
                            style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder">정보 수정
                    </button>
                  </div>
                </div>
              </div>

              <!-- 회원이면서 클럽에 가입된 사람 -->
              <div th:if="${clubMemberCheck.member.nickname != club.member.nickname}">
                <form th:action="@{/club/memberDelete}" method="POST">
                  <input type="hidden" th:field="*{club.id}">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-outline-success border"
                            style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder">동호회 탈퇴</button>
                  </div>
                </form>
              </div>
            </div>

            <!-- 클럽멤버 검증-->
            <div th:if="${clubMemberCheck == null}" class="d-grid">
              <form th:action="@{/club/join}" method="POST">
                <input type="hidden" th:field="*{club.id}">
                <div class="d-grid">
                  <div hidden id="clubStatus" th:value="${club.status.toString()}"></div>
                  <button type="submit" th:onclick="clubJoin([[${club.id}]])" class="btn btn-outline-success border"
                          style="font-family:'IBM Plex Sans KR', sans-serif; font-weight: bolder">가입하기</button>
                </div>
              </form>
            </div>
          </ul><!-- 로그인 검증-->
        </div>
      </section><!-- 버튼 끈-->

      <!-- 버튼 끈-->
    </div>
  </div> <!-- 전체 줄 -->




  <!-- Modal -->
  <div class="modal fade" id="clubUpdateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-2" id="clubUpdateModalLabel">CLUB UPDATE</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form th:action="@{/club/update}" th:object="${form}" method="POST" ENCTYPE="multipart/form-data">
            <input type="hidden" th:field="${form.id}" >
            <div class="mb-3">
              <label for="clubName" class="form-label">동호회 이름<span class="text-danger">*</span></label>
              <input type="text" class="form-control" th:field="${form.name}" id="clubName" required>
              <div th:errors="${form.name}" class="text-danger"></div>
            </div>
            <div class="mb-3">
              <label for="clubLocal" class="form-label">동호회 활동 지역<span class="text-danger">*</span></label>
              <select th:field="${form.local}" th:value="${form.local}" id="clubLocal" class="form-control">
                <option th:each="local:${locals}"  th:text="${local.name}" th:value="${local.id}">
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="file" class="form-label">동호회 대표 이미지</label>
              <input type="file" class="form-control" name="file" id="file">
            </div>
            <div class="mb-3">
              <label for="clubIntroduction" class="form-label">동호회 소개</label>
              <textarea class="form-control" th:field="${form.introduction}" id="clubIntroduction" rows="3"></textarea>
              <div th:errors="${form.introduction}" class="text-danger"></div>
            </div>
            <div class="mb-3">
              <div class="form-label">모집 상태</div>
              <div th:each="mojib : ${statuses}" class="form-check form-check-inline">
                <input type="radio" th:field="*{status}" th:value="${mojib.name()}" class="form-check-input">
                <label th:for="${#ids.prev('status')}" th:text="${mojib.title}" class="form-check-label"></label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="submit" class="btn btn-primary">수정하기</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--모달 끝-->



  <!-- Footer-->
  <footer class="footer bg-white small text-center text-black-50">
    <div class="container px-4 px-lg-5">Copyright &copy; 우아한1팀 Website 2022</div>
  </footer>
  <!-- jQuery -->

  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <!-- JS Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
  <script src="/js/clubDetail.js"></script>
  <script src="/js/clubJoin.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script th:src="@{/js/clubDetail.js}"></script>


</body>
</html>