<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Community</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"/>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/boardHome1.css">
    <link rel="stylesheet" href="/css/boardHome2.css">
    <link rel="stylesheet" href="/css/hotBoards.css">
    <link href="/css/banner.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <!--font awsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/solid.js" integrity="sha384-/BxOvRagtVDn9dJ+JGCtcofNXgQO/CCCVKdMfL115s3gOgQxWaX/tSq5V8dRgsbc" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js" integrity="sha384-dPBGbj4Uoy1OOpM4+aRGfAOc0W37JkROT+3uynUgTHZCHZNMHfGXsmmvYTffZjYO" crossorigin="anonymous"></script>

</head>

<body class="pt-6">

<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>
<!-- banner -->
<div class="board_banner_area" >
    <div class="board_banner_text">
        <h1 style="color: #3c763d">Community</h1>
        <p style="color: #3c763d">come and join!</p>
    </div>
    <img src="/images/community2.jpg" alt="배너 이미지" class="board_banner_area" style="height: 470px">
</div>

<div class="page">
    <section class="primary">
        <form class="col-4 m-auto mt-5 pt-5" th:action="@{/boards/home}">
            <div class="input-group mb-4 border rounded-pill p-1">
                <input name="keyword" type="search" placeholder="  게시글 제목, 작성자로 검색"
                       class="form-control bg-none border-0 rounded-circle search">
                <button type="submit" style="border-style: none; background: none"><i class="mx-3 mt-2 mb-1 bi bi-search"></i>
                </button>
            </div>
        </form>

        <div th:if="${session.loginMember != null}" class="d-md-flex justify-content-md-end">
            <a type="button" class="btn btn-primary px-4 py-3" th:href="@{/boards/boardAdd}">글쓰기</a>
        </div>

        <div class="my-4">
            <table class="table table-hover align-middle bg-white">
                <thead class="bg-light">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">좋아요</th>
                    <th class="text-center">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board:${boardList}"
                    th:onclick="|location.href='@{/boards/detail/{id} (id=${board.id})}'|" role="button">
                    <td th:text="${board.id}">1</td>
                    <td><span th:text="${board.title}"></span><i class="bi bi-chat-left-dots text-muted me-1 ms-3"></i><span th:text="${board.getComments().size()}"></span></td>
                    <td th:text="${board.author}" class="text-center"></td>
                    <td th:text="${board.createdDate}" class="text-center"></td>
                    <td class="text-center"><i class="bi bi-suit-heart-fill text-muted me-1"></i><span th:text="${board.getLikeCount}"></span></td>
                    <td class="text-center"><i class="bi bi-eye text-muted me-1"></i><span th:text="${board.views}"></span></td>
                </tr>
                </tbody>
            </table>

            <!-- 페이징 시작 -->
            <nav aria-label="Page navigation example" th:if="${startPage != null}">
                <ul class="pagination pagination-circle justify-content-center">
                    <li class="page-item" th:if="${nowPage!=startPage}">
                        <a class="page-link" aria-label="Previous" th:href="@{/boards/home(page=${nowPage -2}, keyword=${param.keyword})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block class="page-item" th:each="page:${#numbers.sequence(startPage, endPage)}">
                        <div th:if="${endPage != 0}">
                            <a class="page-link" th:if="${page != nowPage}" th:href="@{/boards/home(page=${page -1}, keyword=${param.keyword})}"
                               th:text="${page}"></a>
                            <strong class="page-link" th:if="${page==nowPage}" th:text="${page}"></strong>
                        </div>
                    </th:block>
                    <li class="page-item"  th:if="${nowPage!=endPage && endPage != 0}">
                        <a class="page-link" aria-label="Next" th:href="@{/boards/home(page=${nowPage}, keyword=${param.keyword})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 페이징 끝 -->
        </div> <!-- Board Main End -->


        </br>
        </br>
        </br>
        </br>
    </section>

    <aside class="secondary-a text-center">
        <div class="bg-white mt-5" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <h3 class="mb-5">커뮤니티</h3>
                <a class="list-group-item list-group-item-action p-3 border-top text-white fw-bold" style="background-color: #3db370" th:href="@{/boards/home}">자유게시판</a>
                <a class="list-group-item list-group-item-action p-3 fw-bold" th:href="@{/lesson/home}">레슨 찾아요</a>
                <a class="list-group-item list-group-item-action p-3 fw-bold" th:href="@{/notice/home}">공지사항</a>
                <a class="list-group-item list-group-item-action p-3 border-bottom fw-bold" th:href="@{/question/home}">Q&A</a>
            </div>
        </div>
    </aside>


    <aside class="secondary secondary-b">
        <h5 class="text-center fw-bold mt-5">GoGo 화제글</h5>
        <hr>
        <ol class="p-0 message-list">
            <li class="user-item message-item" th:each="hotboard, state : ${hotBoardList}">
                <i class="fa-solid fw-bold fs-5 me-2 text-center" style="color: orangered; width: 17px;" th:text="${state.count}"></i>
                <!--                <h6 class="fw-bold me-1" style="color: orangered" th:text="${state.count}"></h6>-->
                <h6 class="line_limit" style=" "th:text= "${hotboard.title}" th:onclick="|location.href='@{/boards/detail/{id} (id=${hotboard.id})}'|" role="button"></h6>
            </li>
        </ol>
    </aside>
    <!-- </div> -->

    <!-- Footer-->

    <footer class="footer bg-white small text-center text-black-50">
        <br>
        <br>
        <div class="container px-4 px-lg-5">Copyright &copy; 우아한1팀 Website 2022</div>
    </footer>
    <br>
    <br>
</div>


</body>
<script src="/js/boardReport.js"></script>
<script th:src="@{/js/communitySidebar.js}"></script>
</html>

