<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/boardHome1.css">
  <link rel="stylesheet" href="/css/boardHome2.css">
  <link rel="stylesheet" href="/css/boardDetail.css">
  <link href="/css/likeReport.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/hotBoards.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body class="pt-6">
<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>
<div class="board_banner_area">
  <div class="board_banner_text">
    <h1 style="font-family: Nunito">Community</h1>
    <p style="font-family: Nunito">come and join!</p>
  </div>
  <img src="/images/community_narrow.jpeg" alt="배너 이미지" class="">
</div>
<div class="page">

  <!-- <div class="content-container"> -->
  <section class="primary">
    <div class="container">
      <div id="reportText">
      <br>
      <h3 style="text-align: center" th:text="${board.title}"></h3>
      <div class="d-flex justify-content-between" id="board_title_box">
        <div>
          <img th:src="@{/images/user.png}" alt="logo" height="15" width="20">
          <a th:text="${board.author}"></a>
          <img th:src="@{/images/clock.png}" alt="logo" height="15" width="20">
          <a th:text="${board.createdDate}"></a>
          <img th:src="@{/images/views.png}" alt="logo" height="10" width="20">
          <a th:text="${board.views}"></a>
        </div>
        <div th:if="${session.loginMember != null}"> <!--th:if="${session.loginMember != null}" -->
          <div th:if="${session.loginMember.id == board.member.id}" style="display: inline-block">
            <form class="col" role="form" th:action="@{/boards/update/{id} (id=${board.id})}"
                  method="get">
              <button class="btn-outline-success border-0 shadow-sm" style="background: none"
                      type="submit" id="board_update_button">게시글 수정</button>
            </form>
          </div>
          <div th:if="${session.loginMember.id == board.member.id} or ${session.loginMember.role.toString() == 'ADMIN'}"
               style="display: inline-block">
            <button class="btn-outline-danger border-0 shadow-sm" style="background: none"
                    th:onclick="deleteBoard([[${board.id}]])" id="board_delete_button">게시글 삭제</button>
          </div>
        </div>
      </div> <!--d-flex justify-content-between-->

      <br>
      <br>

      <div class="d-flex justify-content-center pb-5" id="board_content_box">
        <div id="summernote" class="board-content"> <!-- 게시글 본문 -->
          <p th:utext="${board.content}"></p>
          <br>
          <br>
            <div class="content heart-btn2" th:if="${session.loginMember != null}">
              <span class="heart" id="boardId" th:value="${board.id}"></span>
              <span class="like" id="likeCount" th:text="'like '+ ${likeCount}"></span>
              <span hidden id="checkLike" th:value="${checkLike}"></span>
            </div>
            <div class="report-btn report-content" th:if="${session.loginMember != null}">
              <span id="reportBtn" class="report">신고</span>
            </div>
          <span id="reportCount" hidden th:value="${reportCount}"></span>
        </div> <!-- 게시글 본문 끝 -->
      </div>
      </div>

      <!--요기요기요기 -->
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="card text-dark">
              <div class="card-body p-4">
                <thead>
                <tr>
                  <th>Recent Comment</th>
                </tr> <!-- 여기부터 댓글시작 -->
                <tr th:each="comment : ${comments}" class="fw-bold mb-1">
                  <hr class="my-0"/>
                  <div class="card-body p-4 reportCount" th:value="${comment.reportCount}"><!-- 몸통 -->
                    <div class="d-flex flex-start">
                      <img class="rounded-circle shadow-1-strong me-3"
                           th:src="${comment.member.image}"
                           alt="avatar" width="60"
                           height="60"/> <!-- 사진 -->
                      <div style="width: 100%"> <!-- 시간 -->
                        <h6 th:text="${comment.author}" class="fw-bold mb-1"></h6>
                        <div class="d-flex align-items-center mb-3">
                          <p th:text="${comment.modifiedDate}" class="mb-0"></p>
                          <!-- 시간옆 아이콘자리 -->
                          <a class="link-muted"><i
                                  class="fas fa-pencil-alt ms-2"></i></a>
                          <a class="text-success"><i
                                  class="fas fa-redo-alt ms-2"></i></a>
                          <a class="link-danger"><i
                                  class="fas fa-heart ms-2"></i></a>
                          <div th:if="${session.loginMember != null}">  <!-- 댓글 수정,삭제 버튼 -->
                            <td>
                              <div class="button-group">
                                <!-- 시간옆 공간주기-->
                                <div th:if="${session.loginMember.id == comment.member.id}">
                                  <button th:onclick="updateComment([[${comment.id}]])"
                                          th:id="'comment-update-'+${comment.id}"
                                          class=" btm_image"
                                          style="border: none; background: none">
                                    <img src="/images/tnwjd.gif"
                                         th:src="@{/images/tnwjd.gif}"
                                         width="19" height="21"
                                         style="border: none">
                                  </button>
                                  <button th:id="'comment-delete-'+${comment.id}"
                                          th:onclick="deleteComment([[${comment.id}]])"
                                          class=" btm_image"
                                          style="border: none; background: none">
                                    <img src="/images/trash.gif"
                                         th:src="@{/images/trash.gif}"
                                         width="19" height="21"
                                         style="border: none">
                                  </button>
                                </div>


                                <div>
                                  <button hidden
                                          th:id="'comment-update-confirm-'+${comment.id}"
                                          th:onclick="updateCommentConfirm([[${comment.id}]])"
                                          class=" btm_image"
                                          style="border: none; background: none">
                                    <img src="/images/check.gif"
                                         th:src="@{/images/check.gif}"
                                         width="19" height="21"
                                         style="border: none">
                                  </button>
                                  <button hidden
                                          th:id="'comment-update-cancel-'+${comment.id}"
                                          th:onclick="updateCommentCancel([[${comment.id}]])"
                                          class=" btm_image"
                                          style="border: none; background: none">
                                    <img src="/images/cancel.gif"
                                         th:src="@{/images/cancel.gif}"
                                         width="19" height="21"
                                         style="border: none">
                                  </button>
                                </div>
                              </div>
                            </td>
                          </div>
<!--                          <button th:if="${session.loginMember != null}" th:id="'comment-report-'+${comment.id}"-->
<!--                                  th:onclick="reportComment([[${comment.id}]])"-->
<!--                          class="border-0 mt-1 ms-1 fs-4 text-danger" style="background: none">-->
<!--                            <i class="bi bi-exclamation-triangle"></i>-->
<!--                          </button>-->
                        </div>
                        <table th:if="${!comments.isEmpty()}">
                          <tbody>
                          <td>
                    <textarea style="resize: none;
                                border: none;
                                background: white;
                                width: 400px;
                                height: 70px"
                              th:id="'comment-content-'+${comment.id}"
                              disabled
                              th:text="${comment.content}"></textarea>
                          </td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <hr class="my-0" style="height: 1px;"/>

                </tr>
                <br>
                <div class="w-100">
                  <div th:if="${session.loginMember != null}">   <!-- 댓글 입력 창 -->
                    <div class="comment-input-body">
                      <input hidden id="board-id" th:value="${board.id}">
                      <textarea id="comment" class="form-control" rows="4"
                                placeholder="댓글을 입력하세요"></textarea>
                    </div>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="shadow-sm" id="comment-submit" type="submit">등록</button>
                    </div>
                  </div>
                </div>
              </div>


              <br>
              <br>
              <br>
              <br>
  </section>
  <aside class="secondary secondary-a">
    <br>
    <h3> Community </h3>
    <br>
    <ul class="info-list">
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/boards/home}'|">자유게시판</a>
      </li>
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/notice/home}'|">공지사항</a>
      </li>
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/lesson/home}'|">레슨 찾아요</a>
      </li>
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/question/home}'|">Q&A</a>
      </li>
    </ul>
  </aside>
  <aside class="secondary secondary-b">
    </br>
    <h3>핫 게시물</h3>
    </br>
    <ol class="user-list message-list">
      <li class="user-item message-item" th:each="hotboard, state : ${hotBoardList}">
        <h6 th:text="${state.count} + '. ' + ${hotboard.title}"
            th:onclick="|location.href='@{/boards/detail/{id} (id=${hotboard.id})}'|"
            role="button"></h6>
      </li>
    </ol>
  </aside>
  <!-- </div> -->

  <!-- Footer-->

  <footer class="footer bg-white small text-center text-black-50">
    <br>
    <br>
    <div class="container px-4 px-lg-5">Copyright &copy; 우아한1팀 GOGOtennis 2022</div>
  </footer>
  <br>
  <br>
</div>
</body>

<script src="/js/boardlike.js"></script>
<!--<script src="/js/boardReport.js"></script>-->
<!--<script src="/js/boardCommentReport.js"></script>-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/boardDetailPage.js}"></script>

</html>