<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/banner.css" rel="stylesheet" />
  <link href="/css/menu.css" rel="stylesheet" />
</head>

<body>

<div class="container">   <!-- Container Start -->

  <nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="board"> <!-- board start -->
    <div class="side-menu-left"> <!-- Left Side Menu Start -->
    </div> <!-- Left Side Menu End -->
  </div>

<header>
  <div class="board_banner_area">
    <div class="board_banner_text">
      <h1>GoGo Matching</h1>
      <p>Find Your Tennis Partner!</p>
    </div>
    <img src="/images/img2.jpg" alt="매치 배너 이미지">
  </div>
</header>

<main>
  <div class="match-main"> <!-- Board Main Start -->
    <h4>매치 페이지</h4>
    <button type="button" th:onclick="|location.href='@{/match/matchAdd}'|"
            th:if="${session.loginMember != null}">매치 생성</button>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>번호</th>
        <th>매치이름</th>
        <th>매치날짜</th>
        <th>매치시간</th>
        <th>닉네임</th>
        <th>매치종류</th>
        <th>코트종류</th>
        <th>매치장소</th>
        <th>매치상태</th>>
      </tr>
      </thead>
      <tbody>
      <tr th:each = "match:${matchList}">
        <td th:text="${match.id}"></td>
        <td th:text="${match.matchTitle}"></td>
        <td th:text="${match.matchDate}"></td>
        <td th:text="${match.matchTime}"></td>
        <td th:text="${match.member.nickname}"></td>
        <td th:text="${match.matchType}"></td>
        <td th:text="${match.courtType}"></td>
        <td th:text="${match.matchPlace}"></td>
        <td>신청가능</td>
        <td >
          <a th:href="@{/match/info/{id} (id=${match.id})}"
             th:if="${session.loginMember != null}">보기</a>
        </td>
<!--        <td><button type="button" th:onclick="|location.href='@{/match/detail}'|"-->
<!--                    th:if="${session.loginMember != null}">보기</button></td>-->
      </tr>
      </tbody>
    </table>

    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
      <a th:if="${page != nowPage}" th:href="@{/boards/home(page=${page-1})}"
         th:text ="${page}"></a>
      <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
    </th:block>

  </div> <!-- Board Main End -->
</main>
</div>

</body>

</html>