<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(~{::link})}">
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body>
  <h1>매치 상세 페이지</h1>
</body>
</html>