<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body>
  <h4>매치 상세 페이지</h4>
    <table>
      <tr>
        <th>매치이름</th><td th:text="${form.matchTitle}"></td>
      </tr>
      <tr>
        <th>매치날짜</th><td th:text="${form.matchDate}"></td>
      </tr>
      <tr>
        <th>매치장소</th><td th:text="${form.matchPlace}"></td>
      </tr>
      <tr>
        <th>참여인원</th> <td th:text="1명"></td>
      </tr>
      <tr>
        <th>매치종류</th><td th:text="${form.matchType}"></td>
      </tr>
      <tr>
        <th>코트종류</th><td th:text="${form.courtType}"></td>
      </tr>
    </table>

  <div th:if="${session.loginMember != null}">
    <form th:object="${playerAddForm}" action="/match/player/add" method="post">
      <input hidden name="memberId" th:value="${session.loginMember.id}"></input>
      <input hidden name="matchId" th:value="${form.id}"></input>
      <div th:if="${form.matchCondition.toString() == 'AVAILABLE'}">
        <td th:each="a:${playersA}">
          <a th:text="${a.getMember().nickname}"></a>
          <div th:if="${playersA.size() < 2}">
            <input type="radio" th:field="${playerAddForm.team}" value="A">A
          </div>
        </td>
        <td th:each="b:${playersB}">
          <a th:text="${b.getMember().nickname}"></a>
          <div th:if="${playersB.size() < 2}">
            <input type="radio" th:field="${playerAddForm.team}" value="B">B
          </div>
        </td>
      </div>
      <button type="submit">매치 조인</button>
    </form>
  </div>


  <div th:if="${session.loginMember != null}">
    <th th:if="${session.loginMember.id == form.member.id}">
      <table>
        <form class="col" role="form" th:action="@{/match/update/{id} (id=${form.id})}" method="get">
          <button type="submit">매치 수정</button>
        </form>
        <form class="col" role="form" th:action="@{/match/delete/{id} (id=${form.id})}" method="get">
          <button type="submit">매치 삭제</button>
        </form>
      </table>
      <button type="button" th:onclick="|location.href='@{/match/home}'|">뒤로가기</button>
    </th>
  </div>
</body>
</html>