<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(~{::link})}">
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>

<div class="matchAdd">  <!-- matchAdd body start -->
  <h4>매치 생성 페이지</h4>
  <form role="form" th:object="${form}" action="/match/new" method="post"> <!-- matching form -->
    <div class="form-group">
      <label th:for="matchTitle">매치 이름: </label>
      <input id="matchTitle" type="text" class="form-control" th:field="${form.matchTitle}"
             placeholder="입력해주세요."/>
      <div class="field-error" th:errors="${form.matchTitle}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchDate">매치 날짜: </label>
      <input id="matchDate" type="date" class="form-control" th:field="${form.matchDate}"
             placeholder="입력해주세요."/>
      <div class="field-error" th:errors="${form.matchDate}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchTime">매치 시간: </label>
      <input id="matchTime" type="time" class="form-control" th:field="${form.matchTime}"
             placeholder="입력해주세요."/>
      <div class="field-error" th:errors="${form.matchTime}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchType">매치 종류: </label>
      <input type="radio" th:field="${form.matchType}" value="SINGLE">단식
      <input type="radio" th:field="${form.matchType}" value="DOUBLE">복식
      <div class="field-error" th:errors="${form.matchType}"></div>
    </div>
    <div class="form-group">
      <label th:for="courtType">코트 종류: </label>
      <input type="radio" th:field="${form.courtType}" value="INDOOR">실내
      <input type="radio" th:field="${form.courtType}" value="OUTDOOR">실외
      <div class="field-error" th:errors="${form.courtType}"></div>
    </div>
    <div class="form-group">
      <label th:for="matchPlace">매치 장소: </label>
      <input id="matchPlace" type="text" class="form-control" th:field="${form.matchPlace}"
             placeholder="입력해주세요."/>
      <div class="field-error" th:errors="${form.matchPlace}"></div>
    </div>
    <button type="submit" class="button-submit" id="matching-submit">매치생성</button>
  </form> <!-- matchAdd form end -->
</div> <!-- matchAdd body end -->

</body>
</html>