<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link},~{:://head/script})}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/boardHome1.css">
  <link rel="stylesheet" href="/css/boardHome2.css">
  <link rel="stylesheet" href="/css/boardDetail.css">
  <link rel="stylesheet" href="/css/hotBoards.css">
  <link href="/css/likeReport.css" rel="stylesheet"/>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
</head>
<body class="pt-6">

<nav th:replace="fragments/bodyheader :: bodyHeader"></nav>

<div class="board_banner_area">
  <div class="board_banner_text">
    <h1 style="font-family: Nunito">Community</h1>
    <p style="font-family: Nunito">come and join!</p>
  </div>
  <img src="/images/community_narrow.jpeg" alt="배너 이미지" class="">
</div>

<div class="page">
  <section class="primary">
    <div class="container">
      <br>
      <h3 style="text-align: center" th:text="${notice.title}"></h3>
      <div class="d-flex justify-content-between" id="board_title_box">
        <div>
          <img th:src="@{/images/user.png}" alt="logo" height="15" width="20">
          <a th:text="${notice.author}"></a>
          <img th:src="@{/images/clock.png}" alt="logo" height="15" width="20">
          <a th:text="${notice.createdDate}"></a>
          <img th:src="@{/images/views.png}" alt="logo" height="10" width="20">
          <a th:text="${notice.views}"></a>
        </div>
        <div th:if="${session.loginMember != null}">
          <div th:if="${session.loginMember.id == notice.member.id}" style="display: inline-block">
            <form class="col" role="form" th:action="@{/notice/update/{id} (id=${notice.id})}"
                  method="get">
              <button class="btn-outline-success border-0 shadow-sm" style="background: none"
                      type="submit" id="board_update_button">공지사항 수정</button>
            </form>
          </div>
          <div th:if="${session.loginMember.id == notice.member.id} or ${session.loginMember.role.toString() == 'ADMIN'}"
               style="display: inline-block">
            <button class="btn-outline-danger border-0 shadow-sm" style="background: none"
                    th:onclick="deleteNotice([[${notice.id}]])" id="board_delete_button">공지사항 삭제</button>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="d-flex justify-content-center pb-5" id="board_content_box">
        <div id="summernote" class="board-content"> <!-- 게시글 본문 -->
          <p th:utext="${notice.content}"></p>
          <br>
          <br>
          <div class="content heart-btn" th:if="${session.loginMember != null}">
            <span class="heart"id="noticeId" th:value="${notice.id}"></span>
            <span class="like" id="likeCount" th:text="'like '+ ${likeCount}"></span>
            <span hidden id="checkLike" th:value="${checkLike}"></span>
          </div>
        </div> <!-- 게시글 본문 끝 -->
      </div>


    </div>
  </section>

  <aside class="secondary secondary-a">
    <h3 class="text-center"> Community </h3>
    <ul class="info-list text-center mt-3">
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/boards/home}'|">자유게시판</a>
      </li>
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/notice/home}'|">공지사항</a>
      </li>
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/lesson/home}'|">레슨 찾아요</a>
      </li>
      <li class="info-list-item">
        <a class="info-list-a" th:onclick="|location.href='@{/question/home}'|">Q&A</a>
      </li>
    </ul>
  </aside>
  <aside class="secondary secondary-b">
    <h3 class="text-center">Hot 게시물</h3>
    <ol class="user-list message-list text-center">
      <li class="user-item message-item" th:each="hotboard, state : ${hotBoardList}">
        <h6 th:text="${state.count} + '. ' + ${hotboard.title}"
            th:onclick="|location.href='@{/boards/detail/{id} (id=${hotboard.id})}'|"
            role="button"></h6>
      </li>
    </ol>
  </aside>
  <!-- </div> -->

  <!-- Footer-->

  <footer class="footer bg-white small text-center text-black-50">
    <br>
    <br>
    <div class="container px-4 px-lg-5">Copyright &copy; 우아한1팀 Website 2022</div>
  </footer>
  <br>
  <br>
</div>
</body>


<script src="/js/noticelike.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/noticeDetailPage.js}"></script>
</html>